@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 50%;
    top: 2%;
    z-index: 1000;
    border-radius: 100px;
    justify-content: center;
    margin-left: 24%;
    transition: all 0.3s ease-in-out;
}

/* For smaller screens, center and make the header fill more width */
@media (max-width: 768px) {
    .header {
        width: 82%;
        margin-left: 6%;
        top: 1%;
        padding: 0.8rem;
        border-radius: 50px;
    }
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    margin-left: -50px;
}

/* Adjust navigation links for mobile */
.navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    /* Ensure links wrap if necessary */
    justify-content: center;
}

.navLinks li {
    font-size: 1rem;
    font-weight: normal;
}

.navLinks li a {
    color: #8a4cff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: normal;
}

.navLinks li a:hover {
    text-decoration: underline;
    color: white;
}

/* Active link style */
.navLinks li a.active {
    color: white;
    font-weight: normal;
}

.navLinks li a.inactiveMainLink {
    color: #8a4cff;
    font-weight: normal;
}

/* Icons */
.navIcons {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

/* Reduce icon size for smaller screens */
.navIcons li a {
    color: #8a4cff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.navIcons li a:hover {
    color: white;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        /* Stack items vertically */
        gap: 1rem;
        margin-left: 1%;
    }

    .navLinks {
        flex-wrap: wrap;
        gap: 0.8rem;
        margin-left: -50px;
    }

    .navIcons {
        gap: 0.8rem;
        margin-left: -50px;
    }
}